@tailwind base;

button{
  color: '#0a0a0a'
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0a0a0a #525252;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 2px;
  border: 2px solid #525252;
}

@tailwind utilities;
@tailwind components;